/* .servicesList {
  padding: var(--paddingD);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 800px) {
  .servicesList {
    padding: var(--paddingM);
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
} */
