.ContactSectionMain {
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 3rem;
  width: 100%;
  color: var(--foreground);
  justify-content: space-between;
  border: 1px solid var(--foreground);
  margin-top: 2rem;
}

@media (max-width: 800px) {
  .ContactSectionMain {
    flex-direction: column;
    gap: 2rem;
    padding: var(--paddingM);
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .contactLeft {
    width: 100%;
  }
}
@media (min-width: 800px) {
  .ContactSectionMain {
  }
  .contactLeft {
    width: 50%;
    flex-direction: column;
    display: flex;
    gap: 1rem;
  }
  .contactRight {
    margin-top: 0rem;
    width: 50%;
  }
}
.contactLeft {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.photoBookingIcons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-content: first baseline;
}
.photoBookingIcons > div > div {
  display: flex;
  gap: 3rem;
  width: 230px;
  justify-content: space-between;
}

.photoBookingIcons > h1 {
  background-color: var(--foreground);
  color: var(--background);
  padding: 0.2rem 0.7rem;
  font-size: x-large;
  height: fit-content;
  padding-top: 0.5rem;
  margin-top: 0.4rem;
}
