@import "tailwindcss";
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --navy: #f1f1fd;
  --deep: #06061a;
  --gold: #c9a84c;
  --gold-light: #e8c96d;
  --white: #f5f3ee;
  --gray: #9a9a8a;
  --card-bg: #0f0f35;
  --paddingD: 0 clamp(1.5rem, 6vw, 7rem);
  --paddingM: 0 1.5rem;
  --outlineColor: #c9a84c;
  --foreground: #f5f3ee;
  --background: #06061a;
   /* Fonts */
  --font-body: var(--font-dm-sans), sans-serif;
  --font-serif: var(--font-dm-serif), serif;
  --font-display: var(--font-bebas), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background: var(--deep);
  color: var(--white);
  overflow-x: hidden;
}
